.tittle{        
    height: 120px;
    background: #eaf1f1 0% 0% no-repeat padding-box;
    text-align: center;
}

.textTittle{
    margin-top: 1%;
    font: normal normal bold 16px/22px Montserrat;
}

.textSubTittle{
    font: normal normal normal 14px/18px Montserrat;
}

.form-group {
    margin-bottom: 1rem;
    text-align: center;
}



.inputEdit {
    border: 1px solid #9DA5B5;
    border-radius: 8px;
    opacity: 1;
    width: 360px;
    height: 50px;
    padding-left: 12px;
    font: Regular 14px/16px Raleway;
}

.btnFirstStep {
    background: #3DB5FF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    border: none;
    color: #ffffff;
    width: 192px;
    height: 50px;
    font: Regular 14px/16px Raleway;
}

.btnReturnStep {
    background: #3DB5FF 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    border: none;
    color: #ffffff;
    width: 145px;
    height: 50px;
    font: Regular 14px/16px Raleway;
}

.btnSaveUpdate {
    background: darkgray 0% 0% no-repeat padding-box;
    border-radius: 8px;
    opacity: 1;
    border: none;
    color: #ffffff;
    width: 145px;
    height: 50px;
    font: Regular 14px/16px Raleway;
}

.logoUnidapp {
    border: 1px solid #9DA5B5;
    border-radius: 50%;
    margin-bottom: 15px;
}

.classImg {
    background-image: no-repeat;
}

.sa-icon.sa-custom {
    background-image: no-repeat;
}

.input-group {
    display: block !important;
}
.progress{
    margin-bottom: 20px;
}